html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body>div:nth-child(3){
  height: 100%
}

.header {
    margin-top: 20px;
    margin-bottom: 20px
}

.nav>span {
    vertical-align: text-top;
    margin-left: 10px;
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.fileList {
    height: 485px;
    overflow: auto;
}

.fileList:empty {
    display: none
}

.fileList:empty+.msg {
    display: flex
}

.msg {
    display: none;
    user-select:none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #9d9d9d;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.progress-bar-success,.progress-bar-warning,.progress-bar-danger,.progress-bar-info{
  color: #ffffff;
  text-align: center;
}
