<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk">
<link href="css/style1.css" rel="stylesheet" type="text/css">
<link href="css/style2.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.js"></script>
<link rel="stylesheet" href="js/lytebox.css" type="text/css" media="screen" />
<script type="text/javascript" language="javascript" src="js/lytebox.js"></script>
<title>文件上传结果</title>
</head>
<body>
	<div style="position: absolute; width: 50px; height: 35px; z-index: 1; visibility: visible; left: 12px; top: 6px" id="layer1">
	<img src="img/top_icon.png" width="32" height="32">
</div>
<div style="position: absolute; width: 500px; height: 35px; z-index: 1; visibility: visible; left: 54px; top: 0px" id="layer2">
	<font class="title_header">乐视网--Letv文件上传系统<span style="font-size:15px;">(wb-wangzongxu)</span></font>
</div>
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="40">
	<tr>
		<td width="100%" bgcolor="#3B59A0" nowrap><a name="top">&nbsp;</a></td>
		<td bgcolor="#3B59A0"><img border="0" src="img/top_header.gif" width="700" height="40"></td>
	</tr>
</table>
<table style="margin-bottom: 45px;" border="0" width="100%" cellpadding="0" cellspacing="0" background="img/toolbar.png">
	<tr>
		<td width="100%" align="center" height="40"><span id="search_container"></span></td>
		<td nowrap><a href="/uploadsys.php" class="toolbar"><img src="img/top_icon.png" width="32" height="32" align="middle" border="0" />&nbsp;<font color="orange">单文件上传</font></a>&nbsp;</td>
		<td nowrap><a href="/mutifiles.php" class="toolbar"><img src="img/title_zip.gif" width="32" height="28" align="middle" border="0" />&nbsp;多文件打包上传</a>&nbsp;</td>
		<td nowrap><a href="/searchlog.php" class="toolbar"><img src="img/title_project.png" align="middle" border="0" />&nbsp;上传日志查询</a>&nbsp;</td>
		<td nowrap><a href="/logout.php" class="toolbar"><img src="img/title_logout.png" align="middle" border="0" />&nbsp;退出</a>&nbsp;</td>
	</tr>
</table><div id="main_container">
<table width="100%" border="0">
	<tr>
		<td width="100%" align="left"></td>
		<td align="left" nowrap></td>
	</tr>
</table>
<div id="sub_container" style="width: 100%;">
<div class="aw-box-tl">
<div class="aw-box-tr">
<div class="aw-box-tc"></div>
</div>
</div>
<div class="aw-box-ml">
<div class="aw-box-mr">
<div class="aw-box-mc">
<h3>&nbsp;</h3>
<table class="table-main-list" align="center">

<tr><td class="title">新上传的文件访问地址</td><td valign="top" width="60" class="title" align="center">图片大小</td><td valign="top" align="center" width="60" class="title">缩略图</td></tr><tr><td class="line0"><a href="{{url}}" target="_blank">{{url}}</a></td><td class="line0" align="center">3.443K</td><td class="line0" align="center"><a href="http://js.letvcdn.com/lc06_lecloud/201701/20/18/44/abcCdn.js"   rel="lytebox[bound] data-lyte-options="group:orion1 titleTop:true navTop:true"><img src="http://js.letvcdn.com/lc06_lecloud/201701/20/18/44/abcCdn.js" border="0" height="20px" width="20px"/></a></td></tr></table>
</div>
</div>
</div>
<div class="aw-box-bl">
<div class="aw-box-br">
<div class="aw-box-bc"></div>
</div>
</div>
</div>
</div>
</body>
</html>
